@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--primary);
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-lg font-body;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }
}

@layer components {
  .dashboard-container {
    @apply w-full max-w-5xl mx-auto px-8 py-4 bg-background shadow-sm rounded-lg border border-gray-100;
  }

  .dashboard-bg {
    @apply h-[30vh] bg-gradient-to-b from-primary via-20% via-primary/80 to-primary/60 overflow-visible;
  }
}

.grid-pattern {
  --css-pattern-size: 51px;
  /* control the size*/
  --css-pattern-color-1: #f5f5f5;
  --css-pattern-color-2: hsla(var(--primary)/10%);

  --css-pattern-gradient: #0000 90deg, var(--css-pattern-color-1) 0;
  background:
    conic-gradient(from 90deg at 2px 2px, var(--css-pattern-gradient)),
    conic-gradient(from 90deg at 1px 1px, var(--css-pattern-gradient)),
    var(--css-pattern-color-2);
  background-size: var(--css-pattern-size) var(--css-pattern-size), calc(var(--css-pattern-size)/5) calc(var(--css-pattern-size)/5);
}

.wave-pattern {
  --css-pattern-size: 7px;
  /* control the size*/
  --css-pattern-color-1: #ffffff;
  --css-pattern-color-2: hsla(var(--primary)/10%);

  --_s: 37.5% 12.5% at 62.5%;
  --css-pattern-gradient: 34% 99%, #0000 101%;
  --g1: radial-gradient(var(--_s) 100%, #0000 32%, var(--css-pattern-color-1) var(--css-pattern-gradient));
  --g2: radial-gradient(var(--_s) 0, #0000 32%, var(--css-pattern-color-1) var(--css-pattern-gradient));
  --g3: radial-gradient(var(--_s) 100%, #0000 32%, var(--css-pattern-color-2) var(--css-pattern-gradient));
  --g4: radial-gradient(var(--_s) 0, #0000 32%, var(--css-pattern-color-2) var(--css-pattern-gradient));
  background:
    var(--g1),
    var(--g2) 0 calc(3*var(--css-pattern-size)),
    var(--g3) var(--css-pattern-size) calc(3*var(--css-pattern-size)),
    var(--g4) var(--css-pattern-size) calc(6*var(--css-pattern-size)),
    var(--g1) calc(2*var(--css-pattern-size)) calc(6*var(--css-pattern-size)),
    var(--g2) calc(2*var(--css-pattern-size)) calc(9*var(--css-pattern-size)),
    var(--g3) calc(3*var(--css-pattern-size)) calc(9*var(--css-pattern-size)),
    var(--g4) calc(3*var(--css-pattern-size)) 0,
    repeating-linear-gradient(var(--css-pattern-color-1) 0 25%, var(--css-pattern-color-2) 0 50%);
  background-size: calc(4*var(--css-pattern-size)) calc(12*var(--css-pattern-size));
}


/*  Palettes
--primary-100:#B4D3DA;
--primary-200:#97b5bc;
--primary-300:#56737a;
--accent-100:#0C1821;
--accent-200:#8a96a3;
--text-100:#0C1821;
--text-200:#323e48;
--bg-100:#F4F1EF;
--bg-200:#eae7e5;
--bg-300:#c1bebd; */

